pdapp/src/main/java/com/transfer/ws/InfoTransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://transfer.pd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://transfer.pd.com/" name="InfoTransferService">
<types>
<xsd:schema>
<xsd:import namespace="http://transfer.pd.com/" schemaLocation="http://58.248.185.218:9996/InfoTransfer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getResrecData">
<part name="parameters" element="tns:getResrecData"></part>
</message>
<message name="getResrecDataResponse">
<part name="parameters" element="tns:getResrecDataResponse"></part>
</message>
<message name="synEmpInfo">
<part name="parameters" element="tns:synEmpInfo"></part>
</message>
<message name="synEmpInfoResponse">
<part name="parameters" element="tns:synEmpInfoResponse"></part>
</message>
<message name="synDeptInfo">
<part name="parameters" element="tns:synDeptInfo"></part>
</message>
<message name="synDeptInfoResponse">
<part name="parameters" element="tns:synDeptInfoResponse"></part>
</message>
<message name="getHRR">
<part name="parameters" element="tns:getHRR"></part>
</message>
<message name="getHRRResponse">
<part name="parameters" element="tns:getHRRResponse"></part>
</message>
<portType name="InfoTransfer">
<operation name="getResrecData">
<input wsam:Action="http://transfer.pd.com/InfoTransfer/getResrecDataRequest" message="tns:getResrecData"></input>
<output wsam:Action="http://transfer.pd.com/InfoTransfer/getResrecDataResponse" message="tns:getResrecDataResponse"></output>
</operation>
<operation name="synEmpInfo">
<input wsam:Action="http://transfer.pd.com/InfoTransfer/synEmpInfoRequest" message="tns:synEmpInfo"></input>
<output wsam:Action="http://transfer.pd.com/InfoTransfer/synEmpInfoResponse" message="tns:synEmpInfoResponse"></output>
</operation>
<operation name="synDeptInfo">
<input wsam:Action="http://transfer.pd.com/InfoTransfer/synDeptInfoRequest" message="tns:synDeptInfo"></input>
<output wsam:Action="http://transfer.pd.com/InfoTransfer/synDeptInfoResponse" message="tns:synDeptInfoResponse"></output>
</operation>
<operation name="getHRR">
<input wsam:Action="http://transfer.pd.com/InfoTransfer/getHRRRequest" message="tns:getHRR"></input>
<output wsam:Action="http://transfer.pd.com/InfoTransfer/getHRRResponse" message="tns:getHRRResponse"></output>
</operation>
</portType>
<binding name="InfoTransferPortBinding" type="tns:InfoTransfer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getResrecData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="synEmpInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="synDeptInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getHRR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="InfoTransferService">
<port name="InfoTransferPort" binding="tns:InfoTransferPortBinding">
<soap:address location="http://58.248.185.218:9996/InfoTransfer"></soap:address>
</port>
</service>
</definitions>