pdsci2/src/main/java/com/pinde/sci/wsld/gyxjgl/SMsg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.158.211.35/axis/services/SMsg" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.158.211.35/axis/services/SMsg" xmlns:intf="http://10.158.211.35/axis/services/SMsg" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="http://10.158.211.35/axis/services/SMsg" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="ArrayOf_xsd_string"><complexContent><restriction base="soapenc:Array"><attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/></restriction></complexContent></complexType></schema></wsdl:types>
  <wsdl:message name="sendSMResponse4">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="mainRequest">
    <wsdl:part name="args" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest2">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="url" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="checkTimeRequest">
    <wsdl:part name="sendTime" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendPDUResponse1">
    <wsdl:part name="sendPDUReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest5">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="srcID" type="xsd:long"/>
    <wsdl:part name="url" type="xsd:string"/>
    <wsdl:part name="sendTime" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMResponse">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="sendPDUResponse">
    <wsdl:part name="sendPDUReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="recvRPTRequest">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest4">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="sendTime" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="srcID" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest3">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="srcID" type="xsd:long"/>
    <wsdl:part name="url" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendPDURequest1">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:base64Binary"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="srcID" type="xsd:long"/>
    <wsdl:part name="msgFmt" type="xsd:int"/>
    <wsdl:part name="tpPID" type="xsd:int"/>
    <wsdl:part name="tpUdhi" type="xsd:int"/>
    <wsdl:part name="feeTerminalID" type="xsd:string"/>
    <wsdl:part name="feeType" type="xsd:string"/>
    <wsdl:part name="feeCode" type="xsd:string"/>
    <wsdl:part name="feeUserType" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="recvRPTResponse">
    <wsdl:part name="recvRPTReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="invokeRequest">
    <wsdl:part name="shell" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendPDURequest">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:base64Binary"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="msgFmt" type="xsd:int"/>
    <wsdl:part name="tpPID" type="xsd:int"/>
    <wsdl:part name="tpUdhi" type="xsd:int"/>
    <wsdl:part name="feeTerminalID" type="xsd:string"/>
    <wsdl:part name="feeType" type="xsd:string"/>
    <wsdl:part name="feeCode" type="xsd:string"/>
    <wsdl:part name="feeUserType" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="releaseResponse">
    <wsdl:part name="releaseReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="recvMoRequest">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMResponse3">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="sendSMResponse1">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="sendSMRequest1">
    <wsdl:part name="apiCode" type="xsd:string"/>
    <wsdl:part name="loginName" type="xsd:string"/>
    <wsdl:part name="loginPwd" type="xsd:string"/>
    <wsdl:part name="mobiles" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="content" type="xsd:string"/>
    <wsdl:part name="smID" type="xsd:long"/>
    <wsdl:part name="srcID" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="releaseRequest">
  </wsdl:message>
  <wsdl:message name="mainResponse">
  </wsdl:message>
  <wsdl:message name="sendSMResponse2">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="initResponse">
    <wsdl:part name="initReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="initRequest">
    <wsdl:part name="dbIp" type="xsd:string"/>
    <wsdl:part name="dbName" type="xsd:string"/>
    <wsdl:part name="dbPort" type="xsd:string"/>
    <wsdl:part name="user" type="xsd:string"/>
    <wsdl:part name="pwd" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="invokeReturn" type="xsd:anyType"/>
  </wsdl:message>
  <wsdl:message name="sendSMResponse5">
    <wsdl:part name="sendSMReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="recvMoResponse">
    <wsdl:part name="recvMoReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="flushHostResponse">
    <wsdl:part name="flushHostReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="flushHostRequest">
  </wsdl:message>
  <wsdl:message name="checkTimeResponse">
    <wsdl:part name="checkTimeReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:portType name="SMsg">
    <wsdl:operation name="main" parameterOrder="args">
      <wsdl:input message="impl:mainRequest" name="mainRequest"/>
      <wsdl:output message="impl:mainResponse" name="mainResponse"/>
    </wsdl:operation>
    <wsdl:operation name="invoke" parameterOrder="shell">
      <wsdl:input message="impl:invokeRequest" name="invokeRequest"/>
      <wsdl:output message="impl:invokeResponse" name="invokeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="init" parameterOrder="dbIp dbName dbPort user pwd">
      <wsdl:input message="impl:initRequest" name="initRequest"/>
      <wsdl:output message="impl:initResponse" name="initResponse"/>
    </wsdl:operation>
    <wsdl:operation name="release">
      <wsdl:input message="impl:releaseRequest" name="releaseRequest"/>
      <wsdl:output message="impl:releaseResponse" name="releaseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="flushHost">
      <wsdl:input message="impl:flushHostRequest" name="flushHostRequest"/>
      <wsdl:output message="impl:flushHostResponse" name="flushHostResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content smID">
      <wsdl:input message="impl:sendSMRequest" name="sendSMRequest"/>
      <wsdl:output message="impl:sendSMResponse" name="sendSMResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content smID srcID">
      <wsdl:input message="impl:sendSMRequest1" name="sendSMRequest1"/>
      <wsdl:output message="impl:sendSMResponse1" name="sendSMResponse1"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content smID url">
      <wsdl:input message="impl:sendSMRequest2" name="sendSMRequest2"/>
      <wsdl:output message="impl:sendSMResponse2" name="sendSMResponse2"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content smID srcID url">
      <wsdl:input message="impl:sendSMRequest3" name="sendSMRequest3"/>
      <wsdl:output message="impl:sendSMResponse3" name="sendSMResponse3"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content sendTime smID srcID">
      <wsdl:input message="impl:sendSMRequest4" name="sendSMRequest4"/>
      <wsdl:output message="impl:sendSMResponse4" name="sendSMResponse4"/>
    </wsdl:operation>
    <wsdl:operation name="sendSM" parameterOrder="apiCode loginName loginPwd mobiles content smID srcID url sendTime">
      <wsdl:input message="impl:sendSMRequest5" name="sendSMRequest5"/>
      <wsdl:output message="impl:sendSMResponse5" name="sendSMResponse5"/>
    </wsdl:operation>
    <wsdl:operation name="recvRPT" parameterOrder="apiCode loginName loginPwd">
      <wsdl:input message="impl:recvRPTRequest" name="recvRPTRequest"/>
      <wsdl:output message="impl:recvRPTResponse" name="recvRPTResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendPDU" parameterOrder="apiCode loginName loginPwd mobiles content smID msgFmt tpPID tpUdhi feeTerminalID feeType feeCode feeUserType">
      <wsdl:input message="impl:sendPDURequest" name="sendPDURequest"/>
      <wsdl:output message="impl:sendPDUResponse" name="sendPDUResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendPDU" parameterOrder="apiCode loginName loginPwd mobiles content smID srcID msgFmt tpPID tpUdhi feeTerminalID feeType feeCode feeUserType">
      <wsdl:input message="impl:sendPDURequest1" name="sendPDURequest1"/>
      <wsdl:output message="impl:sendPDUResponse1" name="sendPDUResponse1"/>
    </wsdl:operation>
    <wsdl:operation name="recvMo" parameterOrder="apiCode loginName loginPwd">
      <wsdl:input message="impl:recvMoRequest" name="recvMoRequest"/>
      <wsdl:output message="impl:recvMoResponse" name="recvMoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="checkTime" parameterOrder="sendTime">
      <wsdl:input message="impl:checkTimeRequest" name="checkTimeRequest"/>
      <wsdl:output message="impl:checkTimeResponse" name="checkTimeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMsgSoapBinding" type="impl:SMsg">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="main">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="mainRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="mainResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoke">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="invokeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="invokeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="initRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="release">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="releaseRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="releaseResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="flushHost">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="flushHostRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="flushHostResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest3">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse3">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest4">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse4">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendSMRequest5">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendSMResponse5">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recvRPT">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="recvRPTRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="recvRPTResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPDU">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendPDURequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendPDUResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPDU">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendPDURequest1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="sendPDUResponse1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recvMo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="recvMoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="recvMoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkTime">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkTimeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.api.im.jasson.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="checkTimeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.158.211.35/axis/services/SMsg" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMsgService">
    <wsdl:port binding="impl:SMsgSoapBinding" name="SMsg">
      <wsdlsoap:address location="http://10.158.211.35/axis/services/SMsg"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>